*{
	margin: 0;
	padding: 0;

}
body{
	background-color: #d9d9d9;
	font-family: "Lucida Handwriting" , cursive;
}


nav{
	background-color: black;
}
.nav-area{
	display: flex;
	padding: 12px 50px 18px;
}
.nav-area li{
	list-style: none;
}
.nav-area li a{
	
	text-decoration: none;
	margin-right: 45px;
	font-size: 12px;
	font-weight: 800;
	color: #fff;
}

@media screen and (max-width: 800px) {
	.nav-area{
		padding: 8px 20px 15px;
	}
	.nav-area li a{
		font-size: 1.5vh;
		margin-right: 40px;
	}
}

@media screen and (max-width: 480px) {

	.nav-area{
		padding: 8px 20px 15px;
	}
	.nav-area li a{
		font-size: 1.5vh;
		margin-right: 35px;
	}
}


.row{
	display: flex;
	padding: 60px 50px 30px 50px;
	
}
.row .main{
	width: 65%;
	padding-right: 75px;
}
.row .main img{
	width: 100%;
	height: 350px;
	border-radius: 10px;
	object-fit: cover;
}
.row .main h2, p{
	
	
}
.row .main h2{
	word-spacing: 3px;
	font-size: 30px;
	padding-top: 25px;
	line-height: 1.2cm;
}
.row .main p{
	line-height: .75cm;
	font-size: 14px;
	text-align: justify;
	padding-top: 20px;
}
.row .main .more-details{
	margin-top: 25px;
}
.row .main .more-details a{
	border: 1px solid #000;
	text-decoration: none;
	padding: 7px 12px;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: 600;
}
.row .main .more-details a:hover{
	background-color: #000;
	color: #fff;
	transition: .6s ease;
}
.row .main .card{
	margin-bottom: 5%;
}



.row .aside{
	width: 35%;
}
.row .aside h3{
	font-size: 16px;
	text-align: center;
	background-color: #bfbfbf;
	padding: 8px 0px;
}
.row .aside p{
	line-height: .75cm;
	font-size: 14px;
	text-align: justify;
	padding: 20px 0px;
}


@media screen and (max-width: 800px) {
	.row{
		padding: 30px 20px 20px 20px;
	}
	.row .main{
		padding-right: 40px;
	}
	.row .main img{
		height: 200px;
		border-radius: 7.5px;
	}
	.row .main h2{
		font-size: 3vh;
		line-height: .75cm;
		padding-top: 20px;
	}
	.row .main p{
		font-size: 2vh;
		line-height: .7cm;
	}
	.row .main .more-details a{
		font-size: 1.75vh;
	}
	.row .main .card{
		margin-bottom: 6%;
	}
	


	
	.row .aside h3{
		font-size: 2.5vh;
		text-align: center;
		padding: 5px 0px;
	}
	.row .aside p{
		font-size: 2vh;
		line-height: .7cm;
		text-align: justify;
	}
}

@media screen and (max-width: 480px) {
	.row{
		flex-direction: column-reverse;
	}
	.row .main{
		width: 100%;
		padding-right: 0px;
	}
	.row .main .card{
		margin-bottom: 12%;
	}
	.row .main img{
		height: 180px;
	}
	.row .main h2, p{
		margin-top: 0px;
	}
	.row .main h2{
		font-size: 3vh;
		line-height: .7cm;
	}
	.row .main p{
		font-size: 2vh;
		line-height: .7cm;
		text-align: left;
	}
	.row .main .more-details{
		margin-top: 20px;
	}
	.row .main .more-details a{
		font-size: 1.75vh;
	}
	


	.row .aside{
		width: 100%;
		padding-bottom: 20px;
	}
	.row .aside h3{
		display: none;
	}
	.row .aside p{
		text-align: left;
		padding: 5px 0px 20px;
	}
}


.copyright{
	margin-top: 3%;
}
.copyright .text-box{
	padding: 25px 50px 25px 50px;
	background-color: #000;
}
.copyright .text-box p{
	color: #fff;
	font-size: 12.75px;
	font-family: "Poppins" , sans-serif;
	word-spacing: 2px;
}

@media screen and (max-width: 800px) {
	.copyright{
		
	}
	.copyright .text-box{
		padding: 25px 20px 25px 20px;
	}
	.copyright .text-box p{
		font-size: 1.85vh;
	}
}

@media screen and (max-width: 480px) {
	.copyright .text-box{
		padding: 20px 20px 25px 20px;
	}
}
